<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tetrios.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>86A3647B1F1C2EA9001085E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>86A364931F1C2EA9001085E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>86A3649E1F1C2EA9001085E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
